@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

:root {
    --primary-color: #cc171e;
    --text-color: #525b75;
    --bg-gray-200: #f5f7fa;
}

.breadcrumb .breadcrumb-item a{
    color: var(--text-color);
    text-decoration: none;
}

.fs-7 {
    font-size: 14px;
}

.text-primary {
    color: var(--primary-color) !important;
}

.text-default {
    color: var(--text-color);
}

.btn-primary {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-outline-primary {
    color: var(--primary-color);
    background-color: transparent;
    border-color: var(--primary-color);
}

.btn-primary:hover {
    background-color: #b7161b;
    border-color: #b7161b;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.breadcrumb .breadcrumb-item.active {
    color: var(--primary-color);
} 

.form-group.invalid input,
.form-group.invalid textarea,
.form-group.invalid select {
    border-color: var(--primary-color);
}

.form-group input:focus,
.form-group textarea:focus {
    box-shadow: none;
}

/* ------- Start CSS topbar header ----------*/
.header-topbar {
    background-color: #000;
}

.header-topbar__left {
    display: flex;
    align-items: center;
}

.header-topbar__left-item {
    margin-right: 16px;
    margin-bottom: 0;
    padding: 12px 0;
    font-size: 13px;
    color: #ccc;
}

.header-topbar__left-icon {
    display: inline-block;
    margin-right: 4px;
}

.header-topbar__right {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-topbar__right-link {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
    font-size: 12px;
    text-decoration: none;
    color: #ccc;
    border: 2px solid #ccc;
    border-radius: 4px;
    transition: all .2s linear;
}

.header-topbar__right-link:hover {
    color: #ccc;
    background-color: var(--primary-color);
}


/* ------- End CSS topbar header ----------*/



/* ------- Start CSS main header ----------*/
.header-main {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
}

/* ------- Start CSS main header logo ----------*/

.header-main-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header-main-logo__img {
    width: 40px;
}

.header-main-logo__text {
    margin-left: 12px;
    margin-bottom: 0;
    font-family: 'Alata', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: var(--primary-color);
}

/* ------- End CSS main header logo ----------*/


/* ------- Start CSS main header search ----------*/

.header-main-search {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}

.header-main-search__form {
    position: relative;
    width: 100%;
    display: flex;

}

.header-main-search__input {
    width: 100%;
    padding: 6px 12px;
    background-color: var(--bg-gray-200);
    border: 1px solid #ddd;
    border-radius: 4px;
}

.header-main-search__input:focus {
    caret-color: var(--primary-color);
    outline: none;
}

.header-main-search__btn-submit {
    position: absolute;
    top: 0;
    right: 0;
    padding: 6px 12px;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    color: #fff;
    background-color: var(--primary-color);
}

.header-main-search__input:focus~.header-main-search-history {
    display: block;
}

.header-main-search-history {
    position: absolute;
    width: 100%;
    max-height: 60vh;
    display: none;
    top: 100%;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    z-index: 999;
}

.header-main-search-history__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
}

.header-main-search-history__title {
    margin-bottom: 0;
    color: var(--text-color);
}

.header-main-search-history__delete {
    text-decoration: none;
    font-size: 14px;
    color: var(--text-color);
}

.header-main-search-history__delete:hover {
    color: var(--primary-color);
}

.header-main-search-history__body {}

.header-main-search-history__list {
    list-style: none;
    padding-left: 0;
}

.header-main-search-history__item {
    margin: 0 12px;
}

.header-main-search-history__link {
    display: block;
    padding: 8px 12px;
    font-size: 14px;
    text-decoration: none;
    color: var(--text-color);
    border-bottom: 1px solid var(--bg-gray-200);
    border-radius: 4px;
}

.header-main-search-history__link:hover {
    color: var(--text-color);
    background-color: var(--bg-gray-200);
}

/* ------- End CSS main header search ----------*/


/* ------- Start CSS main header menu ----------*/
.header-main-menu {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-main-menu__item {
    height: 100%;
    display: flex;
    align-items: center;
}


.header-main-menu__link {
    text-decoration: none;
    font-size: 16px;
    color: var(--text-color);
    transition: all .2s linear;
}

.header-main-menu__link:hover {
    color: var(--primary-color);
}

.header-main-menu__icon {
    display: inline-block;
    margin-right: 4px;
}

/* ------- Start CSS main header notify ----------*/

.header-notify {
    position: relative;
}

.header-notify .badge {
    position: absolute;
    width: 8px;
    height: 8px;
    padding: 0;
    top: 10px;
    left: 10px;
    background-color: var(--primary-color);
    border-radius: 50%;
}

.header-notify:hover .header-notify-menusub {
    opacity: 1;
    transform: scale(1);
}

.header-notify-menusub {
    position: absolute;
    width: 400px;
    top: 100%;
    right: 0;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transform-origin: top right;
    transform: scale(0);
    transition: all .3s ease-in-out;
    opacity: 0;
    z-index: 9999;
}

.header-notify-menusub__title {
    margin: 0;
    padding: 12px;
    color: var(--text-color)
}

.header-notify-menusub__list {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.header-notify-menusub__item {}

.header-notify-menusub__link {
    display: flex;
    align-items: center;
    padding: 6px 12px;
    text-decoration: none;
    transition: all .2s linear;
}

.header-notify-menusub__link:hover {
    background-color: var(--bg-gray-200)
}

.header-notify-menusub__icon {
    margin-right: 12px;
    padding: 8px 12px;
    background-color: rgb(204, 23, 30, .2);
    border-radius: 50%;
    color: var(--primary-color);
}

.header-notify-menusub__name {
    margin-bottom: 4px;
    color: #000;
}

.header-notify-menusub__des {
    height: 2.8rem;
    line-height: 1.4rem;
    margin-bottom: 0;
    font-size: 14px;
    color: var(--text-color);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.header-notify-menusub__footer {
    border-top: 1px solid #eee;
}

.header-notify-menusub__footer-link {
    display: block;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    color: var(--text-color);
    font-size: 14px;
    font-weight: 500;
}

.header-notify-menusub__footer-link:hover {
    color: var(--primary-color);
}

/* ------- End CSS main header notify ----------*/

.header-cart {
    position: relative;
}

.header-cart:hover .header-cart-menusub {
    transform: scale(1);
    opacity: 1;
}

.header-cart-menusub {
    position: absolute;
    width: 400px;
    top: 100%;
    right: 0;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transform: scale(0);
    transform-origin: top right;
    opacity: 0;
    transition: all .3s ease-in-out;
    z-index: 999;
}

.header-cart-menusub__title {
    padding: 12px;
}

.header-cart-menusub__list {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.header-cart-menusub__item+.header-cart-menusub__item {
    margin-top: 12px;
}

.header-cart-menusub__link {
    display: flex;
    align-items: flex-start;
    text-decoration: none;
}

.header-cart-menusub__thumbnail {
    width: 80px;
    height: auto;
    margin: 0 12px;
    border-radius: 4px;

}

.header-cart-menusub__name {
    height: 1.4rem;
    line-height: 1.4rem;
    margin-bottom: 8;
    font-size: 14px;
    color: var(--text-color);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.header-cart-menusub__quantity, .header-cart-menusub__price {
    padding-right: 12px;
    font-size: 14px;
    color: var(--text-color);
}

.header-cart-menusub__footer {
    padding: 12px;
}

.header-cart-menusub__footer-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 12px;
    border-top: 1px solid #eee;
}

.header-cart-menusub__footer-heading span {
    font-size: 16px;
    font-weight: 500;
}

.header-cart-menusub__footer-link {
    display: block;
    margin-top: 12px;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: var(--primary-color);
    border-radius: 4px;
    transition: all .2s linear;
}

.header-cart-menusub__footer-link:hover {
    color: #fff;
    background-color: rgb(204, 23, 30, .8);
}

.header-main-menu__user {
    position: relative;
    cursor: pointer;
}

.header-main-menu__user:hover .header-main-menu__user-menu {
    transform: scale(1);
    opacity: 1;
}

.header-main-menu__user-info {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.header-main-menu__user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.header-main-menu__user-name {
    display: inline-block;
    width: 6rem;
    margin-left: 8px;
    font-weight: 500;
}

.header-main-menu__user-menu {
    position: absolute;
    width: 250px;
    top: 110%;
    right: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    transform: scale(0);
    transform-origin: top right;
    transition: all .3s ease;
    opacity: 0;
    z-index: 9999;
}

.header-main-menu__user-menu-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 0;
    border-bottom: 1px solid #eee;
}

.header-main-menu__user-menu-header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.header-main-menu__user-menu-header span {
    margin-top: 12px;
    font-weight: 500;
}

.header-main-menu__user-menu-body {
}

.header-main-menu__user-menu-item {

}

.header-main-menu__user-menu-item a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: var(--text-color);
    font-size: 14px;
}

.header-main-menu__user-menu-item a:hover {
    background-color: var(--bg-gray-200)
}

.header-main-menu__user-menu-item i {
    width: 24px;
    text-align: center;
}

.header-main-menu__user-menu-footer {
    padding: 6px;
}

.header-main-menu__user-menu-footer a {
    display: block;
    padding: 4px 16px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: var(--primary-color);
    border-radius: 4px;
}

.header-main-menu__user-menu-footer a:hover {
    opacity: .8;
}


/* ------- End CSS main header ----------*/

/* ------- Start CSS header navbar ----------*/

.header-navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
}

.header-navbar__list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    list-style: none;
}

.header-navbar__item {}

.header-navbar__link {
    position: relative;
    display: inline-block;
    padding: 12px 20px;
    text-decoration: none;
    color: #fff;
}

.header-navbar__link:hover {
    color: #fff;
}

.header-navbar__link::after {
    position: absolute;
    display: block;
    content: "";
    height: 1.5px;
    right: 20px;
    bottom: 6px;
    left: 20px;
    background-color: #fff;
    transform: scaleX(0);
    transition: all 0.2s linear;
}

.header-navbar__item.active .header-navbar__link:hover::after,
.header-navbar__link:hover::after {
    transform: scaleX(1);
}


/* ------- End CSS header navbar ----------*/

/* ------- Start CSS Main Banner ----------*/
.banner {
    position: relative;
}

.banner-img {
    width: 100%;
    max-width: 1520px;
    margin: 0 auto;
}

.banner .slick-prev,
.banner .slick-next {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    color: var(--primary-color);
    background-color: transparent;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    transform: translateY(-50%);
    transition: all 0.2s linear;
    z-index: 9;
}

.banner .slick-prev {
    left: 50px;
}

.banner .slick-next {
    right: 50px;
}

.banner .slick-prev:hover,
.banner .slick-next:hover {
    color: #fff;
    background-color: var(--primary-color);
}

.banner .slick-dots {
    position: absolute;
    display: flex;
    list-style: none;
    margin-bottom: 0;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.banner .slick-dots li button {
    width: 50px;
    height: 3px;
    margin-right: 12px;
    border: none;
    color: transparent;
    background-color: #fff;
    border-radius: 2px;
    transition: all .5s ease;
}

.banner .slick-dots li.slick-active button {
    background-color: var(--primary-color)
}

/* ------- End CSS Main Banner ----------*/

.section {
    margin: 32px 0;
}

.section__title {
    padding: 12px 0;
}

.section__title.section__title--bg-primary {
    color: #fff;
    background-color: var(--primary-color);
}

.section__title h5 {
    margin-bottom: 0;
}

.section__title-link {
    color: #fff;
    text-decoration: none;
}

.section__title-link i {
    position: relative;
    right: 0;
    transition: all .3s ease-in-out;
}

.section__title-link:hover {
    color: #fff;
}

.section__title-link:hover i {
    right: -3px;
}

.section__content {
    margin-top: 32px;
}

.product-item {
    display: inline-block;
    padding: 12px;
    border: 1px solid #eee;
    text-decoration: none;

}

.product-item:hover .product-item__thumbnail-img {
    transform: scale(1.2);

}

.product-item:hover .product-item__name {
    color: var(--primary-color);
}

.product-item__thumbnail {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.product-item__thumbnail-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: all 0.4s ease-in-out;
}

.product-item__body {}

.product-item__name {
    display: -webkit-box;
    height: 3.6rem;
    line-height: 1.8rem;
    margin-bottom: 0;
    font-size: 15px;
    color: var(--text-color);
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; 
}

.product-item__new-price {
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 600;
    color: var(--primary-color);
}

.product-item__old-price {
    margin-top: 4px;
    font-size: 13px;
    color: var(--text-color);
}

.product-item__old-price span:first-child {
    text-decoration: line-through;

}


/* ------- Start CSS Footer ----------*/

.footer {
    padding-top: 32px;
    border-top: 3px solid var(--primary-color);
}

.footer-content {}

.footer-item {}

.footer-item__desc {
    font-size: 14px;
    text-align: justify;
    color: var(--text-color);
}

.footer-item__info {
    display: flex;
    align-items: flex-start;
    margin-bottom: 6px;
    font-size: 14px;
    color: var(--text-color);
}

.footer-item__info-text {
    display: inline-block;
}

.footer-item__icon {
    margin-right: 8px;
}

.footer-item__title {}

.footer-item__body {
    margin-top: 24px;
}

.footer-item__nav {
    padding-left: 0;
    list-style: none;
}

.footer-item__nav-item {
    margin-bottom: 8px;
}

.footer-item__nav-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 14px;
    transition: all .2s linear;
}


.footer-item__nav-link:hover {
    color: var(--primary-color);
}


/* ------- End CSS Footer ----------*/

/* ------- Start CSS products page ----------*/
.products-content-filter__title {
    margin-bottom: 24px;
}

.products-content-filter__categories {
    margin-bottom: 32px;
    padding-bottom: 32px;
    border-bottom: 1px solid #ccc;
}

.form-check {
    position: relative;
    margin: 8px 0;
    cursor: pointer;
}

.form-check input[type="radio"] {
    opacity: 0;
}

.form-check input[type="radio"]:checked ~ label::before {
    border-width: 4px;
    background-color: #fff;
    box-shadow: 0 0 8px var(--primary-color)
}

.form-check input[type="radio"] ~ label::before {
    position: absolute;
    width: 16px;
    height: 16px;
    display: block;
    content: "";
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--primary-color);
    cursor: pointer;
    transition: all 0.2s linear;
}

.products-content-filter__price .range-slide {
    position: relative;
    width: 100%;
    height: 4px;
    margin-bottom: 40px;
}

.products-content-filter__price .slide {
    position: absolute;
    top: 0;
    height: 4px;
    background: #ccc;
    left: 0;
    right: 9px;
}

.products-content-filter__price .line {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 4px;
    background-color: var(--primary-color);
}

.products-content-filter__price .thumb {
    position: absolute;
    z-index: 2;
    text-align: left;
    background-color: var(--primary-color);
    outline: none;
    top: -7px;
    height: 18px;
    width: 4px;
}

.products-content-filter__price input {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    pointer-events: none;
    z-index: 4;
    height: 3px;
    top: 0;
    width: 100%;
    opacity: 0;
    margin: 0;
}

.products-content-filter__price input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    pointer-events: all;
    border-radius: 50%;
    cursor: pointer;
    width: 18px;
    height: 18px;
}

.products-content-filter__price .display {
    width: 100%;
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
}


.products-main-content__body {
    margin-top: 16px;
}

.pagination li {
    margin: 0 4px;
}

.pagination li a {
    color: var(--text-color);
    transition: all .2s linear;
}

.pagination li.active a,
.pagination li:hover a {
    color: #fff;
    background-color: var(--primary-color);
    border-color: transparent;
}
/* ------- End CSS products page ----------*/

.sidebar-menu {
    padding: 0 12px;
}

.sidebar-menu__header {
    display: flex;
    align-items: center;
    padding-bottom: 16px;
    border-bottom: 1px solid #ccc;
}

.sidebar-menu__header-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.sidebar-menu__header-name {
    margin-left: 12px;
    margin-bottom: 0;
    font-weight: 600;
}


.sidebar-menu__list {
    margin-top: 8px;
    padding-left: 0;
    list-style: none;
}

.sidebar-menu__item.active  .sidebar-menu__link{
    color: var(--primary-color);
}

.sidebar-menu__link {
    display: block;
    padding: 8px 0;
    color: var(--text-color);
    font-weight: 500;
    text-decoration: none;
    transition: all .2s linear;
}

.sidebar-menu__link:hover {
    color: var(--primary-color);
}

.sidebar-menu__icon {
    width: 24px;
    text-align: center;
}


#toast-container {
    position: fixed;
    top: 32px;
    right:32px;
    z-index: 9999999;
}

.toast-inner {
    position: relative;
    display: flex;
    align-items: center;
    padding: 18px 0;
    min-width: 400px;
    max-width :450px;
    background-color: #fff;
    border-radius: 3px;
    border-left: 4px solid #333;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    transition: all 0.2s linear;
}

.toast-timer {
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    right: 0;
    animation: width 4s linear;
}

.toast-inner + .toast-inner {
    margin-top: 24px;
}

.toast-inner.toast--success {
    border-color: #2AE8A7;
}

.toast-inner.toast--success .toast__icon {
    color: #2AE8A7;
}

.toast-inner.toast--success .toast-timer {
    background-color: #2AE8A7;
}

.toast-inner.toast--error {
    border-color: #CC171E;
}

.toast-inner.toast--error .toast__icon {
    color: #CC171E;
}

.toast-inner.toast--error .toast-timer {
    background-color: #CC171E;
}

.toast__icon {
    padding: 0 16px;
    font-size: 20px;
}

.toast__body {
    flex :1;
}

.toast__title {

}

.toast__message {
    color: #888
}

.toast__close {
    padding: 0 16px;
    color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to{
        opacity: 0;
    }
}

@keyframes width {
    from{
        width: 100%;
    } to {
        width: 0%;
    }
}


/* Responsive Tablet*/
@media (min-width: 768px) and (max-width: 1023px) {

    body {
        font-size: 13px;
    }

    .breadcrumb-item{
        font-size: 14px;
    }

    .header-topbar__left-item {
        margin-right: 8px;
        font-size: 10px;
    }

    .header-topbar__right-link {
        width: 20px;
        height: 20px;
        font-size: 8px;
    }


    .header-main-logo__img {
        width: 30px;
    }

    .header-main-logo__text {
        font-size: 16px
    }

    .header-main-search__input, .header-main-search__btn-submit {
        font-size: 12px;
    }

    .header-main-search-history {
        width: 300px;
        top: 110%;
    }
    
    .header-main-search-history__title {
        font-size: 14px;
    }

    .header-main-search-history__link {
        font-size: 12px;
    }

    .header-main-menu__link {
        font-size: 13px;
    }

    .header-main-menu__user-name {
        width: 4rem;
        font-size: 13px;
    }

    .header-navbar__link {
        font-size: 13px;
    }

    .header-notify-menusub__title {
        font-size: 14px;
    }

    .header-notify-menusub__name {
        font-size: 14px;
    }

    .header-notify-menusub__des {
        font-size: 12px;
    }

    .header-cart-menusub__title {
        font-size: 14px;
    }

    .header-cart-menusub__thumbnail {
        width: 50px;
    }

    .section__title.section__title--bg-primary h5 {
        font-size: 14px;
    }

    .section__title-link {
        font-size: 13px;
    }

    .product-item__name {
        font-size: 13px;
    }

    .footer-item__title {
        font-size: 14px;
    }

    .footer-item__body {
        font-size: 13px;
    }
}

